@charset "utf-8";
/* CSS Document */

* {
  margin: 0;
  padding: 0;
  border: 0;
}

#map {
  height: 100%;
  width: 100%;
}

#city-search {
  width: 100%;
}

.check-boxes {
  margin-top: 20px;
}

#map-col {
  height: 450px;
}

.row-padded {
   padding: 20px 30px 20px 30px;
}

/*-----------------------Styles from Google----------------*/

body {
  padding: 0 !important;
}

table {
  font-size: 12px;
}

.hotel-search {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 0;
  position: absolute;
  top: 0;
  width: 440px;
  z-index: 1;
}

#listing {
  position: absolute;
  width: 200px;
  height: 470px;
  overflow: auto;
  left: 442px;
  top: 0px;
  cursor: pointer;
  overflow-x: hidden;
}

#findhotels {
  font-size: 14px;
}

#locationField {
  -webkit-box-flex: 1 1 190px;
  -ms-flex: 1 1 190px;
  flex: 1 1 190px;
  margin: 0 8px;
}

#controls, #controls_attraction {
  -webkit-box-flex: 1 1 140px;
  -ms-flex: 1 1 140px;
  flex: 1 1 140px;
}

#autocomplete {
  width: 100%;
}

#country {
  width: 100%;
}

.placeIcon {
  width: 20px;
  height: 34px;
  margin: 4px;
}

//-------------------------Info Boxes

/*
#infobox-block {
    display: none;
}
*/

.iw-table-row {
    height: 25px;
    background-color: #009640;
    border: 1px solid #cccccc;
}

.iw_title {
  font-weight: bold;
  text-align: right;
  color: #fff;
}

.iw-icon {
  text-align: right;
  padding-right: 10px;
}

#resultsTable {
    height: 0px;
    width: 100%;
    position: relative;
}

#listing {
    position: relative;
    width: 100%;
    height: 470px;
    overflow: auto;
    left: 0;
    top: 10px;
    cursor: pointer;
    overflow-x: hidden;
    background-color: #6fbdbf;
}

#results {
    width: 100%;
}

//-------------------------Itinerary

#actualItinerary {
  min-height: 200px;
  min-width: 100%;
  border: #000000 1px solid;
  list-style: none;
}

.inner-div {
  display: inline-block;
  padding-right: 20px;
}

.table-header {
  font-size: 14px;
  font-weight: bold;
}

#starting-point {
  min-height: 30px;
  min-width: 30%;
}

