@charset "utf-8";
/* CSS Document */

@import url("https://fonts.googleapis.com/css2?family=Oleo+Script&family=Raleway:wght@600&family=Rubik:wght@300;400;500&display=swap");

/*Stops website scrolling left and right on mobile, solution found here: https://www.weblimitless.com/stop-website-showing-white-space-right-side/*/
html,
body {
  overflow-x: hidden;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: #fef5eb;
}

#map {
  height: 400px;
  width: 100%;
  border-radius: 3px;
  margin-bottom: 30px;
}

/*---------------------------------------------Headings & subtitles*/

h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  color: #2b2a2a;
}

h2 {
  font-family: "Oleo Script", cursive;
  font-weight: 400;
  font-size: 1.5rem;
  color: #ffffff;
}

h3 {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
}

h4 {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  font-size: 1.1rem;
  color: #fff;
}

.header-row {
  padding: 40px 30px 10px 40px;
}

.subtitle {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  font-size: 1.1rem;
  color: #575656;
}

#search-container {
  background-color: #99d5e0;
  width: 100%;
  padding-bottom: 25px;
}

.search-bar {
  display: inline-block;
  margin-bottom: 15px;
  margin-left: 0px;
}

@media screen and (max-width: 767.98px) {
  .search-bar {
    margin-bottom: 0px;
  }
}

#city-search {
  width: 100%;
  align-items: center;
  display: flex;
  position: relative;
  background-color: #99d5e0;
}

.search-boxes {
  border-radius: 3px;
  background-color: #f29fc5;
  color: #fff;
  min-height: 30px;
  width: 80%;
  padding-left: 10px;
  margin-bottom: 20px;
}

.search-boxes:focus,
#autocomplete:focus {
  border: #b01a5f solid 2px;
}

::placeholder {
  color: #fff;
  opacity: 1; /* Firefox */
}

#radio-row {
  padding: 0px 30px 40px 30px;
}

.check-boxes {
  margin-top: 20px;
}

#map-row {
  height: 450px;
  padding: 25px 40px 25px 30px;
  background-color: #4cbdc5;
}

.no-top-margin-container {
  margin-top: -20px;
}

.row-padded {
  padding: 20px 30px 0px 30px;
}

.sub-row-padded {
  padding: 15px 15px 20px 15px;
}

#listing {
  width: 100%;
  height: auto;
  overflow-y: auto;
  left: 0;
  cursor: pointer;
  background-color: #009cbf;
}

.form-check-label {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  color: #ffffff;
}

#autocomplete {
  width: 100%;
  border-radius: 3px;
}

#country {
  width: 100%;
  border-radius: 3px;
}

input {
  padding-left: 10px;
}

.minus-margin-container {
  margin-bottom: -18px;
}

.form-check-inline {
  background-color: #f29fc5;
  padding: 10px;
  margin-bottom: 10px;
  min-width: 170px;
}

div.gm-style-iw.gm-style-iw-c {
  background-color: #4cbdc5;
  border-radius: 6px;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  min-height: 280px;
}

/*-----------------------Buttons----------------*/

.white-button {
  color: #009cbf;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  background-color: #fff;
  padding: 5px 10px 5px 10px;
  border-radius: 3px;
}

.reset-button {
  margin-top: 40px;
}

@media screen and (max-width: 767.98px) {
  .reset-button {
    margin-top: 5px;
    margin-bottom: 10px;
  }
}

/*-----------------------Styles from Google----------------*/

body {
  padding: 0 !important;
}

table {
  font-size: 12px;
}

.hotel-search {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 0;
  position: absolute;
  top: 0;
  width: 440px;
  z-index: 1;
}

#locationField {
  -webkit-box-flex: 1 1 190px;
  -ms-flex: 1 1 190px;
  flex: 1 1 190px;
  margin: 0 8px;
}

#controls,
#controls_attraction {
  -webkit-box-flex: 1 1 140px;
  -ms-flex: 1 1 140px;
  flex: 1 1 140px;
}

.placeIcon {
  width: 20px;
  height: 34px;
  margin: 4px;
}

/*-------------------------Info Boxes*/

#info-content {
  min-height: fit-content;
}

.iw-table-row {
  height: 25px;
  background-color: #009640;
  border: 1px solid #cccccc;
}

.iw_title {
  font-weight: bold;
  text-align: right;
  color: #fff;
}

.iw-icon {
  padding-right: 10px;
  margin-bottom: 15px;
  max-height: 40px;
}

img.hotelIcon {
  padding-right: 10px;
  margin-bottom: 15px;
  max-height: 40px;
}

#myForm {
  width: 100%;
}

div.gm-style-iw-d {
  overflow: auto;
  min-height: 280px;
  min-width: fit-content;
}

.iw-hr {
  border-color: #fff;
  padding: 10px 0px 10px 0px;
  width: 100%;
}

a#placeName,
div#iw-address,
div.iw_attribute_name,
div#iw-phone {
  color: #fff;
  padding-left: 10px;
  font-family: "Rubik", sans-serif;
}

div#iw-url {
  padding-left: 0px;
}

div#iw-rating {
  color: #fff;
  padding-left: 10px;
}

.white-label {
  color: #fff;
}

/*----------------------------------------Results Table*/

#resultsTable {
  height: 100%;
  width: 100%;
  margin: 0px 15px 20px 15px;
}

#results {
  width: 100%;
  height: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;
}

.result-tr {
    padding: 7px;
}

.listing-name-block {
  display: inline-grid;
  vertical-align: top;
}

.listing-icon-block {
  display: inline-grid;
  vertical-align: top;
  padding-right: 15px;
}

/*-------------------------------------Itinerary*/

#actualItinerary {
  height: 280px;
  min-width: 100%;
  list-style: none;
  overflow-y: auto;
}

.inner-div {
  display: inline-block;
  padding-right: 20px;
  vertical-align: top;
}

.table-header {
  color: #fff;
}

#starting-point {
  min-height: 30px;
  min-width: 30%;
}

.itinerary-list-item {
  list-style: none;
  color: #fff;
  margin-bottom: 5px;
}

#footer {
  background-color: #2b2a2a;
  color: #fff;
  padding: 30px 30px 30px 30px;
  text-align: left;
}

#footer > div > a {
  color: #fff;
}
